#!/usr/bin/make -f

DDIR=debian/susi-linux
BASE=/usr/lib/python3/dist-packages
SLINUX=$(BASE)/susi_linux

DISTFILES=hotword_engine light_control states wav hardware_components __init__.py __main__.py speech ui

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(DDIR)$(SLINUX)
	for i in $(DISTFILES) ; do \
	  cp -a $$i $(DDIR)$(SLINUX) ; \
	done
	# clean up
	for i in `find $(DDIR) -name __pycache__` ; do rm -rf $$i ; done


