#!/usr/bin/make -f

DDIR=debian/susi-linux
BASE=/usr/lib/python3/dist-packages
SLINUX=$(BASE)/susi_linux
DATADIR=/usr/share/susi-linux

DISTFILES=hotword_engine light_control states wav hardware_components __init__.py __main__.py speech ui

DATAFILES=extras/cmu_us_slt.flitevox  extras/connect-error.wav	extras/detection-bell.wav \
	  extras/problem.wav extras/recognition-error.wav \
	  app.py authentication.py config_generator.py configure.py susi_login.py

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(DDIR)$(SLINUX)
	for i in $(DISTFILES) ; do \
	  cp -a main/$$i $(DDIR)$(SLINUX) ; \
	done
	mkdir -p $(DDIR)$(DATADIR)
	if [ ! -r extras/cmu_us_slt.flitevox ] ; then \
	  wget "http://www.festvox.org/flite/packed/flite-2.0/voices/cmu_us_slt.flitevox" -P extras ; \
	fi
	for i in $(DATAFILES) ; do \
	  cp $$i $(DDIR)$(DATADIR) ; \
	done
	cp debian/common-script-start $(DDIR)$(DATADIR)
	# install wrapper scripts
	mkdir -p $(DDIR)/usr/bin
	for i in debian/wrapper/* ; do \
	  cp $$i $(DDIR)/usr/bin ; \
	done
	# clean up
	for i in `find $(DDIR) -name __pycache__` ; do rm -rf $$i ; done

