[Unit]
Description=SUSI Linux
Wants=network-online.target
After=network-online.target susi-server.service

[Service]
ExecStart=/usr/bin/start-susi-linux

[Install]
WantedBy=default.target
